<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cart</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="cart-style.css" />
  </head>
  <body>
    <button id="addBtn">add product</button>
    <div id="root"></div>

    <script type="module">
      import Cart from "./index.js";

      window.localStorage.clear();

      const products = [
        {
          id: "1",
          images: [],
          title: "Ноутбук Acer Aspire 3",
          price: 100,
        },
        {
          id: "2",
          images: [],
          title: "Ноутбук Acer Aspire 7",
          price: 200,
        },
      ];

      const cart = new Cart();

      for (const product of products) {
        cart.add(product);
      }

      root.append(cart.element);

      addBtn.addEventListener("click", () => {
        const product = {
          id: products.length + 1,
          images: [],
          title: "new product",
          price: 100,
        };

        products.push(product);

        cart.add(product);
      });
    </script>
  </body>
</html>
