datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

datalist option {
  padding: 0;
  transform: rotate(-90deg);
}

input[type="range"] {
  width: 200px;
  margin: 0;
}
